.article {
	background-color: $article-bg-color;
	border-top: 2px solid $primary-color;
	border-bottom: 2px solid $primary-color;
	border-radius: 4px;
	box-shadow: 0px 20px 100px rgba(50,50,93,.15), 0 15px 35px rgba(50,50,93,.2), 0 5px 15px rgba(0,0,0,.12);
	padding: 35px;
	margin-bottom: 50px;
    
    .thumbnail {
        height: 250px;
        margin: 0 -35px 35px -35px;
        
        /* Cover div */
        background-position: center;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
    }

    .header {
        margin-bottom: 35px;
    
        a {
            color: $text-color;
        }

        a:hover {
            color: $primary-color;
        }

        h3 {
            font-size: 1.8em;
            font-weight: bold;
            margin-bottom: -10px;
        }
    }

    .content {
        img {
            width: 100% !important;
        }
    }

    .footer {
        margin-top: 25px;
    }

    .media {
        h6 {
            margin-bottom: -2px;
        }

        small {
            font-size: 0.8em;
        }

        p {
            margin-left: 10px;
            margin-top: 10px;
        }
    }
}

@media only screen and (max-device-width: 480px) {
    .article {
        padding: 10px;
        margin-bottom: 35px;

        .thumbnail {
            height: 150px;
            margin-left: -15px;
            margin-right: -15px;
        }

        .header {
            margin-bottom: 15px;

            h3 {
                font-size: 1.1em;
            }

            .date {
                font-size: 0.6em;
            }
        }

        .content {
            font-size: 0.8em;
        }

        .footer .button {
            font-size: 0.7em;
        }
    }
}