* {
    transition: all .5s ease;    
}

body {
    color: $text-color;
    background: $body-bg;
    font-family: 'Raleway', sans-serif;

    a, a:hover, a:focus {
        text-decoration: none;
    }
}

.button {
    cursor: pointer;
    background-color: #FFFFFF;
    border: 2px solid $primary-color;
    color: $text-color;
    border-radius: 6px;
    padding: 6px 12px 6px 12px;

    /* Disable selection */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.button:hover {
    background-color: $primary-color;
    color: #FFFFFF;
}

.dropdown-menu {
    a {
        color: $text-color;
    }
}

.note-editor {
    .note-btn {
        cursor: pointer;
        color: $text-color;
    }
}